{% extends 'parent.html' %}

{% block head %}
<title>directory</title>
{% endblock %}

{% block body %}

<div id="wrapper">
	<div id="wrapper-padding">
		<h1>{{ path }}</h1>
		<a class="directory" href="{{ up }}">..</a><br>
		{% for item in items %}
			{% if item.directory %}
				<div>
					<a class="directory" href="{{ item.url }}">
						{{ item.name }}
					</a>
				</div>
			{% else %}
				<div>
					<a class="file" href="{{ item.url }}">
						{{ item.name }}
					</a>
					<span class="size">{{ item.size }}</span>
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>

{% endblock %}
