* {
	word-break: break-all;
}

html, body {
	margin: 0;
	padding: 0;
	color: #000;
	background-color: #000;
	font-family: "Consolas", monospace;
}

#wrapper {
	width: 50%;
	height: 100%;
	min-width: 600px;
	margin: 24px auto;
	background-color: #fff;
}

#wrapper-padding {
	padding: 48px;
}

.directory, .file {
	display: inline-block;
	margin: 5px 0;
	color: #0000ff;
}

@media only screen and (max-width: 616px) {
	#wrapper {
		margin: 0;
		width: 100%;
		min-width: 0;
	}
	body, html {
		background-color: #fff;
	}
}
